<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <style>
        .auth-form {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .auth-form input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="auth-form">
        <h2>Располагайтесь, смешарики</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
        <p>А тут можно создать аккаунт, да-да <a href="{% url 'register' %}">Регистрируйся!</a></p>
    </div>
</body>
</html>